body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button {
  color: white;
  background-color: #B20837;
  margin: 5px;
  border-color:#B20837 ;
  

}


.card-header{
  color: white;
  background-color: #B20837;
  font-family: Georgia, serif !important;
  width: auto;
  
 
}

.card-footer{
  border-radius: 0px 0px 15px 15px;
}

.navlink {
  color: black
}

.active-navlink {
  color: white;
  font-weight: bold;
}

.card{
  width: 18rem;
  border-radius: 0px 0px 15px 15px;
  margin-left: 70px;
  margin-top:15px;
  margin-bottom: 30px;
  height: auto;
}